/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.topnav {
	overflow: hidden;
	background-color: #000000;
  }
  
  .topnav a {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 2.5rem 2rem;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	color: white;
  }
  
  .topnav-right {
	float: right;
  }
  .topnav-middle{
	float:none;
    position:absolute;
    left: 47%;
  }


  section {
	text-align: center;
	margin-top: 1.5rem;
    min-width: 22.5rem;
    width:45%;
	background-color: #000000;
    color: white;
    float: none;
}
section, aside, nav, footer {
    padding: .5rem;
  }
