/* General setup */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.dots {
	border: 5px solid rgb(213, 215, 241);
	border-style: dotted;
  }
